/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  color: #2167F0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
  line-height: 1.4;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.7;
  font-weight: 300;
  color: black;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

.container--1080 {
  max-width: 1140px;
  margin: 40px auto;
  padding: 0 30px;
}
@media (min-height: 700px) {
  .container--1080 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.x__container {
  width: 400px;
  max-width: 100%;
  position: relative;
  background-color: #D8F7FB;
  border-radius: 50%;
  margin-bottom: 0;
}
.x__container:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.x__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.x__screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #2167F0;
  border-radius: 8px;
  transition: border-radius 0.3s;
}
.x__screen__container {
  position: absolute;
  left: 7%;
  right: 39%;
  top: 5%;
  bottom: -10%;
}
@media (max-width: 930px) {
  .x__screen {
    border-width: 3px;
  }
}
.x__screen--front {
  background: #d1e9ff;
  transform: translateX(16px);
  z-index: 2;
  overflow: hidden;
}
.x__screen--side {
  z-index: 1;
  background: #DCEEFF;
}
.x.laptop .x__screen__container {
  top: 10%;
  left: 5%;
  right: 10%;
  bottom: 17%;
}
.x.laptop .x__screen--front {
  transform: translateX(8px);
}
.x.laptop .x__screen--side {
  border-radius: 16px;
}
.x__content {
  position: absolute;
  background: white;
  top: 6%;
  left: 0;
  right: 0;
  bottom: -100%;
}
.x__content__header {
  background: #EAF5FF;
  position: relative;
  overflow: hidden;
  height: 13%;
  transition: all 0.4s;
}
.x__content__title {
  margin-top: 10%;
  margin-bottom: 8%;
  height: 3%;
  margin-left: 4%;
  margin-right: 40%;
  background: #9ed1ff;
  transition: all 0.4s;
}
.x__content__p {
  margin-top: 3%;
  height: 0.85%;
  margin-left: 4%;
  background: #EAF5FF;
  transition: all 0.4s;
}
.x__content__p--1 {
  margin-right: 25%;
}
.x__content__p--2 {
  margin-right: 20%;
}
.x__content__p--3 {
  margin-right: 60%;
}
.x__content__item {
  margin-top: 4%;
  background: #EAF5FF;
  left: 4%;
  right: 4%;
  top: 27%;
  bottom: 62%;
  position: absolute;
}
.x__content__item--1 {
  transform: translateY(0);
}
.x__content__item--2 {
  transform: translateY(110%);
}
.x__content__item--3 {
  transform: translateY(220%);
}
.x.laptop .x__content {
  left: 3%;
  top: 3%;
  right: 3%;
}
.x.laptop .x__content__header {
  height: 21%;
}
.x.laptop .x__content__title {
  margin-top: 6%;
  margin-right: 62%;
  margin-left: 10%;
  margin-bottom: 4%;
}
.x.laptop .x__content__p {
  margin-left: 10%;
  height: 1%;
  margin-top: 1.5%;
}
.x.laptop .x__content__p--1 {
  margin-right: 50%;
}
.x.laptop .x__content__p--2 {
  margin-right: 45%;
}
.x.laptop .x__content__p--3 {
  margin-right: 80%;
}
.x.laptop .x__content__item {
  top: 36%;
  bottom: 53%;
  left: 10%;
  right: 66%;
}
.x.laptop .x__content__item--1 {
  transform: translateX(0);
}
.x.laptop .x__content__item--2 {
  transform: translateX(110%);
}
.x.laptop .x__content__item--3 {
  transform: translateX(220%);
}
.x__bottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #2167F0;
  border-bottom-right-radius: 16px;
  background: #F0ECFF;
  z-index: 2;
  left: 30%;
  right: 0%;
}
.x__bottom__container {
  position: absolute;
  left: 12%;
  right: 20%;
  bottom: -10%;
  height: 4%;
  z-index: 3;
}
@media (max-width: 930px) {
  .x__bottom {
    border-width: 3px;
  }
}
.x__bottom--side {
  left: 0;
  right: 70%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-right: 0;
  z-index: 2;
  background: #DCEEFF;
}
.x.laptop .x__bottom__container {
  right: -20%;
  bottom: 16%;
  left: 9%;
}

.hero {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero__inner {
  margin: 100px auto 120px;
  display: flex;
  width: 100%;
  max-width: 1160px;
  padding: 0 20px;
  position: relative;
}
@media (max-width: 992px) {
  .hero__inner {
    flex-direction: column;
    max-width: 800px;
  }
}
.hero__title {
  font-size: 44px;
}
.hero__left {
  padding-left: 80px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
}
@media (max-width: 992px) {
  .hero__left {
    padding-left: 30px;
    align-items: flex-end;
    position: absolute;
    top: 15px;
    right: 40px;
    left: 0;
  }
}
@media (max-width: 600px) {
  .hero__left {
    top: 0;
    transform: translateY(-60px);
  }
}
.hero__right {
  flex-grow: 0;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 992px) {
  .hero__right {
    padding-left: 0;
    padding-right: 20px;
  }
}
.hero__github {
  background-color: #EAF5FF;
  padding: 8px 12px;
  color: #2167F0;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}
.hero__github:hover {
  background-color: #DCEEFF;
}
.hero__github:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("github-logo.a2687a6a.svg");
}

.bubble {
  margin: 30px auto;
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  max-width: 400px;
  min-height: 56px;
  color: #2167F0;
  line-height: 20px;
}
@media (max-width: 992px) {
  .bubble {
    margin-right: 0;
    margin-left: auto;
  }
}
.bubble--open {
  opacity: 1;
  transform: translateY(0);
}
.bubble__container {
  height: 140px;
}
@media (max-width: 992px) {
  .bubble__container {
    padding-right: 220px;
  }
}
@media (max-width: 600px) {
  .bubble__container {
    display: none;
  }
}
.bubble__label {
  display: inline-block;
  background: #DCEEFF;
  border-radius: 10px;
  padding: 20px;
}
.bubble__line {
  content: "";
  display: inline-block;
  height: 16px;
  width: 1px;
  background-color: #2167F0;
  margin-left: 1px;
  transform: translateY(4px) scaleY(1.25);
}

@media (max-width: 600px) {
  .keyboard {
    display: none;
  }
}

.keyboard__row {
  display: flex;
  margin-top: -12px;
}
.keyboard__row:first-of-type {
  margin-top: 20px;
}
.keyboard__row:nth-child(1) {
  transform: translate(140px);
}
.keyboard__row:nth-child(2) {
  transform: translate(105px);
}
.keyboard__row:nth-child(3) {
  transform: translate(70px);
}
.keyboard__row:nth-child(4) {
  transform: translate(35px);
}
.keyboard__row:nth-child(5) {
  padding-right: 35px;
}

.keyboard__key {
  height: 40px;
  flex-basis: 0;
  flex-grow: 0.5;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: transform 0.125s;
}
@media (max-width: 1140px) {
  .keyboard__key {
    height: calc(calc(100vw - 280px) / 20);
  }
}
@media (max-width: 992px) {
  .keyboard__key {
    height: 40px;
  }
}
@media (max-width: 800px) {
  .keyboard__key {
    height: calc(calc(100vw - 80px) / 18);
  }
}
.keyboard__key--1 {
  flex-grow: 1;
  background-image: url("1x1-keycap.c7b1c5b2.svg");
}
.keyboard__key--1_25 {
  flex-grow: 1.25;
  background-image: url("1x1.25-keycap.fa5fea1d.svg");
}
.keyboard__key--1_5 {
  flex-grow: 1.5;
  background-image: url("1x1.5-keycap.22d15c41.svg");
}
.keyboard__key--1_75 {
  flex-grow: 1.75;
  background-image: url("1x1.75-keycap.daf3f51d.svg");
}
.keyboard__key--2_25 {
  flex-grow: 2.25;
  background-image: url("1x2.25-keycap.a20c6fde.svg");
}
.keyboard__key--2_75 {
  flex-grow: 2.75;
  background-image: url("1x2.75-keycap.622f6680.svg");
}
.keyboard__key--4_5 {
  flex-grow: 5.5;
  background-image: url("1x4.5-keycap.631befba.svg");
}

.keyboard__button-container {
  text-align: right;
  margin-top: 20px;
  transform: translateY(-8px);
}

.keyboard__button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 20px;
  background-color: white;
  position: relative;
  z-index: 5;
  border: none;
  background-color: transparent;
  outline: none;
  transition: transform 0.3s;
}
.keyboard__button:after, .keyboard__button:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: #c3e2ff;
  border: 3px solid #2167F0;
  transform: translateY(8px);
  border-radius: 6px;
  z-index: -1;
  transition: transform 0.3s;
}
.keyboard__button:before {
  background-color: white;
  border: 3px solid #2167F0;
  border-radius: 6px;
  z-index: 1;
  transform: translateY(0);
}
.keyboard__button:after {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.keyboard__button.active:before {
  transform: translateY(3px);
}
.keyboard__button.active .keyboard__button__icon {
  transform: translate(-50%, -50%) translateY(3px);
}
.keyboard__button__icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: border-radius 0.3s, transform 0.3s;
}
.keyboard__button__icon--record {
  background-color: #2167F0;
  border-radius: 50%;
}
.keyboard__button__icon--stop-recording {
  border-radius: 2px;
}
.keyboard__button__icon--play, .keyboard__button__icon--loop {
  width: 25px;
  height: 18px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.keyboard__button__icon--play {
  background-image: url("play.1a310495.svg");
}
.keyboard__button__icon--loop {
  background-image: url("looping-arrows.fb009ca9.svg");
  height: 25px;
}
.keyboard__button:last-of-type {
  margin-right: 0;
}

#keyboard-input {
  position: absolute;
  left: -99999px;
  top: -99999px;
}

.offerings {
  display: flex;
  padding: 0 40px;
  max-width: 1040px;
  margin: 60px auto 60px;
}
@media (max-width: 930px) {
  .offerings {
    max-width: 540px;
    padding: 0 40px;
    flex-direction: column;
  }
}
.offerings__left {
  width: 100%;
  max-width: 320px;
  flex-grow: 0;
}
@media (max-width: 930px) {
  .offerings__left {
    max-width: 200px;
    margin: 0 0 40px;
  }
}
.offerings__right {
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 120px;
}
@media (max-width: 930px) {
  .offerings__right {
    margin-left: 0;
  }
}
.offerings__title {
  font-size: 40px;
  margin-bottom: 60px;
  max-width: 340px;
}
.offerings__switch {
  display: flex;
  max-height: 90px;
}
.offerings__switch__label {
  color: #2167F0;
  width: 60px;
}
.offerings__switch__right {
  flex-basis: 0;
  flex-grow: 1;
  transform: translateY(-28px);
  transition: transform 0.3s;
}
.offerings__switch__right.shift-up {
  transform: translateY(-54px);
}
.offerings__arrow, .offerings__label {
  line-height: 1;
  font-size: 16px;
  height: 16px;
  transition: opacity 0.3s;
}
.offerings__arrow {
  margin-bottom: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}
.offerings__arrow.active {
  opacity: 1;
  transition: opacity 0.3s;
}
.offerings__label {
  margin-bottom: 10px;
  color: #2167F0;
  opacity: 0.3;
  font-weight: 700;
}
.offerings__label.active {
  opacity: 1;
}
.offerings__label:last-of-type {
  margin-bottom: 4px;
}
.offerings__arrow {
  width: 24px;
  height: 24px;
  padding: 0;
  background: transparent;
  border: none;
  position: relative;
  transform: rotate(180deg) translateX(2px);
  outline: none;
  cursor: pointer;
}
.offerings__arrow--down {
  transform: translateX(-2px);
}
.offerings__arrow:before, .offerings__arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  right: 50%;
  background-color: #2167F0;
  height: 3px;
}
.offerings__arrow:before {
  transform: translateX(2px) rotate(45deg);
}
.offerings__arrow:after {
  transform: translateX(100%) translateX(-3px) rotate(-45deg);
}
.offerings__text-container {
  position: relative;
}
.offerings__text--designer {
  transform: translateY(-24px);
}
.offerings__text--programmer {
  transform: translateY(14px);
}
.offerings__text--designer, .offerings__text--programmer {
  position: absolute;
  top: 0;
  left: 60px;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}
.offerings__text--designer.active, .offerings__text--programmer.active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
  transition-delay: 0.05s;
  z-index: 5;
}
.offerings__text--programmer.active {
  transform: translateY(-10px);
}
.offerings__text--invisible {
  margin-left: 60px;
  opacity: 0;
}

.tech {
  display: flex;
  padding: 0 60px;
  max-width: 1080px;
  margin: 60px auto;
  justify-content: space-between;
}
@media (max-width: 930px) {
  .tech {
    max-width: 540px;
    padding: 0 40px;
    flex-direction: column;
  }
}
.tech__left {
  flex-grow: 1;
  max-width: 380px;
}
@media (max-width: 930px) {
  .tech__left {
    margin-bottom: 80px;
    max-width: 100%;
  }
}
.tech__right {
  width: 380px;
  flex-grow: 0;
}
@media (max-width: 930px) {
  .tech__right {
    max-width: 100%;
  }
}
.tech__title {
  margin-bottom: 60px;
}
.tech__icon-container {
  display: flex;
  margin-bottom: 30px;
}
.tech__icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.tech__icon--brush {
  background-image: url("brush.a0fed599.svg");
  transform: translateY(-1px);
}
.tech__icon--geometry {
  background-image: url("geometry.cf292055.svg");
  transform: scale(0.85) translateY(1px);
}
.tech__icon--code {
  background-image: url("code.1501942e.svg");
}
.tech__icon--bezier {
  background-image: url("bezier.2fc552e7.svg");
  transform: translateY(-2px);
}
.tech__section-title {
  font-size: 16px;
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.tech__section-title:first-of-type {
  margin-top: 0;
}
.tech__item {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}
.tech__item--node {
  margin-right: 25px;
}
.tech__item--typescript {
  margin-right: 25px;
}
.tech__item--graphql {
  margin-right: 20px;
}
.tech__item--photoshop {
  margin-right: 20px;
}
.tech__item__icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.tech__item__icon--react {
  background-image: url("react.d7d27edf.svg");
}
.tech__item__icon--node {
  background-image: url("node.79821661.svg");
}
.tech__item__icon--redux {
  background-image: url("redux.8f450f1f.svg");
}
.tech__item__icon--typescript {
  background-image: url("typescript.7a1ff955.svg");
}
.tech__item__icon--webpack {
  background-image: url("webpack.40ac52b9.svg");
}
.tech__item__icon--nextjs {
  background-image: url("nextjs.14b54186.svg");
}
.tech__item__icon--scss {
  background-image: url("scss.c97ea908.svg");
}
.tech__item__icon--docker {
  background-image: url("docker.009c9f11.svg");
}
.tech__item__icon--figma {
  background-image: url("figma.b99fade2.svg");
}
.tech__item__icon--graphql {
  background-image: url("graphql.514df199.svg");
}
.tech__item__icon--photoshop {
  background-image: url("photoshop.ea945766.svg");
}
.tech__item__label {
  font-size: 14px;
  font-weight: 500;
  color: #2167F0;
}

.contact {
  margin: 100px auto 200px;
  max-width: 540px;
  padding: 0 40px;
}
.contact__title {
  font-size: 40px;
  margin-bottom: 40px;
  max-width: 340px;
}
.contact__contact-link {
  display: inline-block;
  line-height: 1;
  background-color: #EAF5FF;
  padding: 9px 12px 8px;
  color: #2167F0;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}
.contact__contact-link:hover {
  background-color: #DCEEFF;
  text-decoration: none;
}
.contact__contact-link:first-of-type {
  margin-right: 10px;
}
.contact__icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 10px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: top;
}
.contact__icon--phone {
  background-image: url("phone.c14e4cd9.svg");
}
.contact__icon--mail {
  background-image: url("mail.9f5da6b7.svg");
}

.square-container {
  background: #EAF5FF;
  width: 300px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.square-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square {
  flex-grow: 1;
  height: 50px;
  background: #EAF5FF;
  transition: transform 0.4s;
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: 100% 100%;
  transform: translate(1px, 0) rotate(-45deg);
}
.square.active {
  transform: translate(0, 1px) rotate(45deg);
}
.square:nth-child(2n+2) {
  background: #2167F0;
}
.square:nth-child(2n+1) {
  border: 6px solid #2167F0;
}

.circle-container {
  margin: 10px 0;
  max-width: 100%;
  height: 150px;
  background: #EAF5FF;
  position: relative;
  overflow: hidden;
}

.circle {
  background: #EAF5FF;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
}
.circle:nth-child(2n+2) {
  background: #dbeeff;
}